
@model IEnumerable<object>

@{
    // List<socialApplication.Models.Member> Membertable = Model.ToList()[0] as List<socialApplication.Models.Member>;
    List<socialApplication.Models.Post> Posttable = Model.ToList()[0] as List<socialApplication.Models.Post>;
    List<socialApplication.Models.Like> liketable = Model.ToList()[1] as List<socialApplication.Models.Like>;
    List<socialApplication.Models.Unlike> unliketable = Model.ToList()[2] as List<socialApplication.Models.Unlike>;
    List<socialApplication.Models.Member> Member = Model.ToList()[3] as List<socialApplication.Models.Member>;

}

<div style="text-align:center;">
    <a href='@Url.Action("Post", "Account")'> <img src="~/images/comment.png" /> </a>
    <a href='@Url.Action("PersonalTimeLine", "Account")'>    <img src="~/images/timeline.png" /></a>

</div>


@foreach (var items in Posttable.OrderByDescending(p => p.PostId))
{
    <div>               
        <div style="text-align:center;"><iframe type="text/html" width="640" height="385" src="@items.VideoUrl" frameborder="0"></iframe> <br />   
        <a href="@items.VideoUrl">Link of vid</a>
        </div>       
        <br />
        <div style="text-align:left;width:30%;margin:auto;">
            <span>

                @liketable.Where(p => p.PostId == @items.PostId && p.IsLiked == true).Count()              
                <img src="~/images/tumbsup.png" width="25" class="btn-like" data-id="@items.PostId" />

                @liketable.Where(p => p.PostId == @items.PostId && p.IsLiked == false).Count()
                <img src="~/images/tumbsdown.png" width="25" class="btn-unlike" data-id="@items.PostId" /><br />

                <span>Posted By:</span>
                @Member.Where(x => x.MemberId == items.MemberId).Select(p => p.FirstName + " " + p.LastName).FirstOrDefault()<br />
                Date: @items.PostDate
            </span><br />           
               
                <span>Comments:</span><br />
                <span>@items.Comment</span>
            <br /><br />

        </div> 
                 
        
        
</div>
}



